</main>
    <footer>
        <div class="footerStyle">

            <ul>
                <li><a href=""><i class="fa-brands fa-linkedin"></i></a></li>
                <li><a href=""><i class="fa-brands fa-square-github"></i></a></li>
            </ul>

            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/postPage">Posts</a></li>
                <li><a href="/contacts">Contacts</a></li>
            </ul>
            
            <p>© 2024 Fernanda Dornelles</p>
        </div>
    </footer>
</html>