<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/main.css">
    <script src="https://kit.fontawesome.com/5c36097859.js" crossorigin="anonymous"></script>
    <title>Outsider</title>
</head>
<header>
    <div class="headerStyle">
        <a href="">Outsider's Diary</a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/postPage">Posts</a></li>
            <li><a href="/contacts">Contacts</a></li>
        </ul>
    </div>

</header>
<main class="container">