<%- include("partials/header.ejs") %>
<div class="contactsStyle">
    <p>Contatos Úteis</p>

    <ul>
        <li><a href="https://www.apportugal.com/contactos/embaixadas-e-consulados/"><i class="fa-solid fa-arrow-pointer"></i>Embaixadas</a></li>
        <li><a href="https://www.psp.pt/Pages/homePage.aspx"><i class="fa-solid fa-arrow-pointer"></i>Polícia</a></li>
        <li><a href="https://eportugal.gov.pt/servicos/contactar-linha-telefonica-de-informacao-as-vitimas-de-violencia-domestica"><i class="fa-solid fa-arrow-pointer"></i>Apoio Vítimas de Violência Doméstica</a></li>
        <li><a href="https://www.cnpdpcj.gov.pt/contactos1"><i class="fa-solid fa-arrow-pointer"></i>Defesa dos Direitos das Crianças e Jovens</a></li>
        <li><a href="https://www.sns24.gov.pt/"><i class="fa-solid fa-arrow-pointer"></i>Serviço Nacional de Saúde</a></li>
        <li><a href="https://informacoeseservicos.lisboa.pt/contactos/canais-de-comunicacao"><i class="fa-solid fa-arrow-pointer"></i>Informações e Serviços Lisboa</a></li>
    </ul>

</div>

<%- include("partials/footer.ejs") %>